.container-pagination{
    margin: 10px 0 0 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
}

.pagination-buttons{
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-item{
    padding: 10px;
}

.menu-item button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(169, 169, 169,0.3);
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(197, 66, 66);
}

.menu-item button:hover{
    background-color: rgba(165, 42, 42);
    color: rgb(189, 189, 189);
}