.contenedor-poke-pokeid{
    width: 100%;
}

.container-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.container-button button {
    background-color: #212f3d;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #212f3d;
    color: #abb2b9;
}

.container-button button:hover{
    background-color: rgb(209, 47, 26);
    color: rgb(214, 214, 214);
}

.container-row{
    max-width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 100px;
}

.pokeid-card{
    width:50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color:  #212f3d;
    border-radius: 10px;

    flex-wrap: wrap;
}

.img-container{
    max-width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

.img-container img {
    max-width: 50%;
}

.card-section-idname{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.idname-text{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.idname-text h2, h3{
    font-size: 2rem;
    color:  #abb2b9 ;
}

.text-weight-height{
    max-width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    gap: 30px;
}

.text-weight p{
    color:   #abb2b99c;
    font-size: 0.9rem;
}

.text-weight span {
    color: #abb2b9;
    font-size: 1.1rem;
}

.text-height p {
    color:   #abb2b99c;
    font-size: 0.9rem;
}

.text-height span {
    color: #abb2b9;
    font-size: 1.1rem;
}

.card-container-type-hability {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
}

.type{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.type p {
    font-size: 1.4rem;
    color: #abb2b9;
    margin: 0 0 10px 0;
}

.type-name{
    display: flex;
    text-align: center;
    gap: 10px;
}

.name-t{
    padding: 5px;
    color: #212f3d;
    background-color: #abb2b9;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #abb2b9;
    font-size: 1.2rem;
}

.hability{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hability p {
    font-size: 1.4rem;
    color: #abb2b9;
    margin: 0 0 10px 0;
}

.hability-name{
    display: flex;
    text-align: center;
    gap: 10px;
}

.name-h{
    padding: 5px;
    color: #212f3d;
    background-color: #abb2b9;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #abb2b9;
    font-size: 1.2rem;
}

/* stats */

.card-stats{
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.stats-title{
    max-width: 100%;
    margin: 20px 0 10px 0;
}

.stats-title p {
    margin-left: 30px;
    font-size: 1.5rem;
    color: #abb2b9;
    letter-spacing: 2px;
}

.stats-containter-items{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
}

.stats-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 5px 0 0 0;
}

.item-cont{
    display: flex;
    justify-content: space-between;
}

.item-name{
    margin-left: 35px;
    color: #abb2b9;
    font-size: 1.3rem;
}

.item-valor{
    margin-right: 40px;
    color: #abb2b9;
}

.stats-color{
    margin-left: 30px;
    border-radius: 10px;
}

/* movements */
.card-container-movements{
    width: 400px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    background-color: #212f3d;
    border-radius: 10px;
}

.card-container-movements h2{
    margin: 10px 0;
    font-size: 2rem;
    color: #abb2b9;
    letter-spacing: 3px;
}

.movements{
    max-width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.movements-item p{
    padding: 5px;
    background-color: #abb2b9;
    color: #212f3d;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #abb2b9;
}